body {
  margin: 0;
}
.active-option{
  color:red;
}
.userInterface {
	position : fixed;
	text_align: center;
	padding: 0px;
	border-radius: 2px;
	background-color: black;
	opacity: 0.8;
}
#money {
	position:fixed;
	left: 1000px;
	top: 50px;
}
#player_command {
	width: 110px;
	height: 470px;
	top: 0px;
	left: 762px;
}
#blueSoldier-text {
	position:relative;
	top: 50px;
	left: 900px;
}
#blueCannon-text {
	position:relative;
	top: 130px;
	left: 900px;
}
#blueJeep-text {
	position:relative;
	top: 230px;
	left: 900px;
}
#blueTank-text {
	position:relative;
	top: 320px;
	left: 900px;
}
#tyranny {
	position : fixed;
	text-align: middle;
	padding:0px;
	border-radius: 0px;
	background-color:green;
	opacity:0.9;
	width: 20px;
	height: 25px;
	top: 603px;
	left: 765px;
	z-index: 30;
}
#tyrannyText {
    
}
#tyrannyRect {
	position : fixed;
	text-align: middle;
	padding:0px;
	border: 3px solid #000;
	opacity:0.9;
	width: 450px;
	height: 25px;
	top: 600px;
	left: 762px;
}
img.item {
	width: 45%;
	height: 45%;
	padding: 0px;
	cursor: pointer;
}
#blueSoldier {
	position: fixed;
	z-index: 200;
	display: inline-block;
	height: 110px;
	width:100px;
	border-radius: 1px;
	text-align: center;
	left: 768px;
	top:3px;
}
#blueCannon {
	position: fixed;
	z-index: 200;
	display: inline-block;
	height: 110px;
	width:100px;
	border-radius: 1px;
	text-align: center;
	left: 768px;
	top:120px;
}
#blueJeep {
	position: fixed;
	z-index: 200;
	display: inline-block;
	height: 110px;
	width:100px;
	border-radius: 1px;
	text-align: center;
	left: 768px;
	top:237px;
}
#blueTank {
	position: fixed;
	z-index: 200;
	display: inline-block;
	height: 110px;
	width:100px;
	border-radius: 1px;
	text-align: center;
	left: 768px;
	top: 354px;
}
.dispenseBox {
	border: 2px dasheed #000;
}
.upgradePolicies {
position:fixed;
z-index: 100;
display:none;
text-align: center;

}
hr {
	border-style: none;
}
#rect {
	width:700px;
	height:832px;
}
#box {
	width: 762px;
	height: 900px;
	top:-100px;
	position: fixed;
	z-index: -100;
	left:0px;
	background-color: #000;
}